header {
	display: flex;
	/* justify-content: space-between; */
	background-color: black;
	color: white;
	width: 100hv;
	height: 45px;
}

input {
	height: 25px;
}
header img {
	height: 30px;
}

::placeholder {
	background-color: rgba(10, 10, 10, 10);
	color: lightgray;
}

nav {
	margin-left: 30vw;
	position: relative;
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
}

ul {
	display: flex;

	align-items: flex-end;
	justify-content: space-between;
}

li {
	width: 120px;
}

a {
	font-family: Arial, Helvetica, sans-serif;
}

.big-container {
	display: flex;
}

.left-side {
	width: 25vw;
	height: 90vh;
}

.right-side {
	width: 75vw;
	height: 90vh;
	margin-right: 400px;
}

.right-side nav {
	margin-top: 30px;
	position: relative;
	margin-right: 300px;
	padding-right: 80px;
}

.projects {
	margin-left: 30px;
	display: flex;
	flex-wrap: wrap;
	width: 75vw;
	height: 90vh;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
	margin-top: 45px;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}

h4 {
	margin-top: 20px;
	margin-left: 30px;
}
.left-side button {
	margin-top: 20px;
	width: 300px;
	height: 30px;
	background-color: lightgray;
}

.project-box {
	width: 30vw;
	height: 30vw;
	border: 3px;
}

.project-box h3 {
	color: blue;
}
